zmodule environment
zmodule homebrew
zmodule git
zmodule k
zmodule magic-enter
zmodule pvenv
zmodule ssh
zmodule termtitle
zmodule utility

zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

zmodule joke/zim-github-cli
zmodule joke/zim-k9s
zmodule joke/zim-kubectl
zmodule joke/zim-yq
zmodule joke/zim-starship
zmodule /opt/homebrew/bin/thefuck --cmd 'eval "$(thefuck --alias --enable-experimental-instant-mode)"'

zmodule completion